/* Основной CSS-код */

/* Media-запрос для устройств с шириной экрана до 600px */
@media (max-width: 600px) {
    .comment-header-content {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .favorite {
        margin-top: 10px;
    }
    
    .custom-select {
        margin-top: 10px;
    }
    
    .comment-write {
        flex-direction: column;
    }
    
    .comment-input {
        width: 100%;
    }
    
    .send-button {
        margin-top: 10px;
        width: 100%;
    }
    
    .comment-text,
    .comment-text-reply {
        font-size: 14px;
    }
    
    .comment-actions {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }
    
    .reply-button,
    .like-button,
    .favorite-button {
        margin-top: 10px;
    }
    
    #like-count {
        margin: 0 5px;
    }
  }
  

/* Общие стили */
body {
    font-family: 'Inter', sans-serif;
    margin-right: 50px;
    margin-left: 150px;
    padding: 0;
    width: 100vw;
}